
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Common

h1,h2,h3,h4,h5,h6 {	padding:0 !important; padding:0 !important;}
.padding-reset	{ padding:0 !important;}
.form-group		{ padding:0 !important; margin:0 !important;height:38px;}
.well			{ margin:0 !important;}