.border-bottom 	{	border-bottom: 1px solid #eeeeee;}
.btn {
  background: #fff;
  background-image: -webkit-linear-gradient(top, #fff, #ced3d6);
  background-image: -moz-linear-gradient(top, #fff, #ced3d6);
  background-image: -ms-linear-gradient(top, #fff, #ced3d6);
  background-image: -o-linear-gradient(top, #fff, #ced3d6);
  background-image: linear-gradient(to bottom, #fff, #ced3d6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000;
  font-size: 12px;
  padding: 0 !important;
  text-decoration: none;
  width:85%;
}

.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #b8b8b8);
  background-image: -moz-linear-gradient(top, #ffffff, #b8b8b8);
  background-image: -ms-linear-gradient(top, #ffffff, #b8b8b8);
  background-image: -o-linear-gradient(top, #ffffff, #b8b8b8);
  background-image: linear-gradient(to bottom, #ffffff, #b8b8b8);
  text-decoration: none;
  color: #000;
}
.edit-input 	{   
	width: 80%;
    border: none;
    display: none;
    border-bottom: solid 2px #969696;
    padding: 2px;
}
.cancel-info-edit,.save-info-edit,
.cancel-summary-edit,.save-summary-edit,
.cancel-profolio-edit,.save-profolio-edit
{	display:none;}

input[type="file"] 	{	margin:18px 0 0 0 !important;width: 100%;}
input[type="button"],input[type="reset"] {	margin-top:25px;}
.text-body	{	height:200px;}